/* line 14, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_base.scss */
.clearfix {
  *zoom: 1; }
  /* line 4, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_base.scss */
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 9, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_base.scss */
  .clearfix:after {
    clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
body {
  line-height: 1; }

/* line 34, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 23, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
body, section, form, header, ul, li, input, button, img, h3, h4, ol, aside, div {
  margin: 0;
  padding: 0;
  border: none; }

/* line 28, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
a {
  color: white;
  text-decoration: none; }

/* line 33, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
li {
  list-style: none; }

/* line 36, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
body {
  font-size: 62.5%;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 5em;
  color: #786969;
  background-color: #f0ece6; }

/* line 46, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
header {
  max-width: 120em;
  min-width: 80em;
  margin: 0 auto;
  text-align: center;
  background-color: #fffcf7;
  padding: 1em 0;
  text-align: center;
  position: relative;
  box-shadow: 0px 1px 3px #e6e6e6; }
  /* line 53, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  header a.new-tweet {
    float: left;
    color: white;
    position: relative;
    margin: 0 1.5em 0 1em;
    background-color: #b39da9;
    width: 3em;
    height: 3em;
    text-align: center;
    border-radius: 3em;
    line-height: 4; }
    /* line 64, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    header a.new-tweet i {
      font-size: 2em; }
    /* line 67, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    header a.new-tweet:after {
      content: '';
      background-color: #e6e6e6;
      width: 0.1em;
      height: 5em;
      position: absolute;
      left: 4em;
      margin-top: -0.8em; }
  /* line 76, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  header ul.top-menu {
    float: left;
    padding-top: 0.5em; }
    /* line 79, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    header ul.top-menu li {
      margin: 0 0.5em;
      display: inline-block;
      width: 2em;
      height: 2em;
      border-radius: 2em;
      border: solid 1px #e6e6e6;
      font-size: 1em;
      line-height: 2; }
  /* line 90, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  header i.fa-twitter {
    font-size: 2.5em;
    color: #b39da9;
    margin-bottom: 5px;
    padding-top: 3px; }
  /* line 96, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  header div.right-side {
    position: absolute;
    top: 0;
    right: 1em;
    margin-top: 1em; }
    /* line 101, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    header div.right-side form {
      display: inline-block;
      width: 15em;
      height: 2em;
      background-color: white;
      border-radius: 2em;
      border: 1px solid #e6e6e6;
      line-height: 2em; }
      /* line 109, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      header div.right-side form i {
        color: #e6e6e6; }
    /* line 114, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    header div.right-side a.avatar img {
      margin-left: 1em;
      width: 3em;
      height: 3em;
      border-radius: 3em;
      border: 1px solid #e6e6e6;
      vertical-align: middle; }

/* line 126, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
.main-container {
  max-width: 120em;
  min-width: 80em;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; }
  /* line 129, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  .main-container aside.personal {
    color: white;
    margin-bottom: -1000em;
    padding-bottom: 1000em;
    background-color: #b39da9;
    float: left;
    width: 25%; }
    /* line 136, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    .main-container aside.personal section.personal-info {
      padding: 5em 2em 2em;
      text-align: center; }
      /* line 139, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.personal-info img {
        width: 8em;
        height: 8em;
        border-radius: 8em; }
      /* line 144, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.personal-info h4 {
        font-weight: bolder;
        padding: 0.5em 0;
        font-size: 1.4em; }
      /* line 149, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.personal-info p {
        line-height: 1.3; }
      /* line 153, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.personal-info a i {
        margin: 0.5em 0; }
      /* line 157, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.personal-info a.follow {
        display: block;
        background-color: #796871;
        width: 8em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        border-radius: 8em;
        margin: 1em auto 0; }
    /* line 169, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    .main-container aside.personal section.my-gallary {
      position: relative; }
      /* line 171, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.my-gallary img {
        width: 33.3%;
        float: left; }
      /* line 175, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.my-gallary span.play {
        position: absolute;
        display: inline-block;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        line-height: 1.8em;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        top: 4em;
        left: 4em; }
    /* line 189, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
    .main-container aside.personal section.my-activity {
      text-align: left;
      padding: 2em; }
      /* line 192, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.my-activity h5 {
        padding: 0 0 1em; }
      /* line 195, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
      .main-container aside.personal section.my-activity li {
        line-height: 2em;
        color: #796871; }
        /* line 198, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
        .main-container aside.personal section.my-activity li a {
          text-decoration: underline; }
  /* line 204, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  .main-container div.content-container {
    margin-bottom: -1000em;
    padding-bottom: 1000em;
    float: left;
    width: 50%; }
  /* line 210, /Users/twer/3days3pages/HiGrace.github.io/page2/scss/mystyle.scss */
  .main-container aside.other-info {
    margin-bottom: -1000em;
    padding-bottom: 1000em;
    background-color: #fffcf7;
    float: right;
    width: 25%; }

/*# sourceMappingURL=mystyle.css.map */