@import "_base.scss";
@import "_reset.scss";
    
$light-yellow: #fffcf7;
$light-purple: #b39da9;
$middle-purple: darken($light-purple,15%);
$light-grey: #e6e6e6;
$background: #f0ece6;
$font: #47463f;
$list-title: #6f6d65;
$position: lighten($list-title,35%);

@mixin common-section(){
    max-width: 120em;
    min-width: 80em;
    margin:0 auto;
    text-align: center;
}

@mixin radius-border($radius){
    width: $radius;
    height: $radius;
    border-radius: $radius;
}

body,section,form,header,ul,li,input,button,img,h3,h4,ol,aside,div{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
}
body{
    font-size: 62.5%;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 5em;
    color: #786969;
    background-color: $background;
}

header{
    @include common-section();
    background-color: $light-yellow;
    padding:1em 0;
    text-align: center;
    position: relative;
    box-shadow: 0px 1px 3px $light-grey;
    a.new-tweet{
        @include radius-border( 30px );
        float: left;
        color: white;
        position: relative;
        margin: 0 1.5em 0 1em;
        background-color: $light-purple;
        text-align: center;
        line-height: 4;
        i{
            font-size:2em;
        }
         &:after{content: '';
                background-color: $light-grey;
                width: 0.1em;
                height: 5em;
                position: absolute;
                left: 4em;
                margin-top: -0.8em;
            }
    }
    ul.top-menu{
        float:left;
        padding-top: 0.5em;
        li{
            margin: 0 0.5em;
            display: inline-block;
            @include radius-border(2em);
            border: solid 1px $light-grey;
            font-size: 1em;
            line-height: 2;
        }
    }
    i.fa-twitter{
        font-size: 2.5em;
        color: $light-purple;
        margin-bottom: 5px;
        padding-top: 3px;
    }
    div.right-side{
        position:absolute;
        top:0;
        right: 1em;
        margin-top: 1em;
    form{
        display: inline-block;
        width: 15em;
        height: 2em;
        background-color: white;
        border-radius: 2em;
        border: 1px solid $light-grey;
        line-height: 2em;
        i{
            color: $light-grey;
        }
    }
    a.avatar{
        img{
            margin-left: 1em;
            @include radius-border(3em);
            border: 1px solid $light-grey;
            vertical-align: middle;
        }
    }
    }  
}

.main-container{
    @include common-section();
    overflow: hidden;
    aside.personal{
        color: white;
        margin-bottom: -1000em;
        padding-bottom: 1000em;
        background-color: $light-purple;
        float:left;
        width: 20%;
        section.personal-info{
            padding: 5em 2em 2em;
            text-align: center;
            img{
                @include radius-border(8em);
            }
             h4{
                font-weight: bolder;
                padding: 0.5em 0;
                font-size: 1.4em;
            }
            p{
                line-height: 1.3;
            }
            a{
                i{
                    margin: 0.5em 0;
                }
            }
            a.follow{
                display: block;
                background-color: $middle-purple;
                width:8em;
                height: 2em;
                text-align: center;
                line-height: 2em;
                border-radius: 8em;
                margin: 1em auto 0;
            }
        }
        
        section.my-gallary{
            position: relative;
            img{
                width: 33.3%;
                float: left;
            }
            span.play{
                position: absolute;
                display: inline-block;
                @include radius-border(2em);
                line-height: 1.8em;
                background-color: rgba(0,0,0,0.2);
                color: white;
                top: 4em;
                left: 4em;
            }         
        }
        
        section.my-activity{
            text-align: left;
            padding: 2em;
            h5{
                padding: 0 0 1em;
            }
            li{
                line-height: 2em;
                color: $middle-purple;
                a{
                    text-decoration: underline;
                }
            }
        }
    }
    div.content-container{
        margin-bottom: -1000em;
        padding-bottom: 1000em;
        float: left;
        width:60%;
    }
    aside.other-info{
        color: $list-title; 
        margin-bottom: -1000em;
        padding-bottom: 1000em;
        text-align: left;
        background-color: $light-yellow;
        float:right;
        width: 20%;
        h5{
            font-size: 1.2em;
            padding-bottom: 1em;
        }
        section.hot{
            padding: 2.5em 2em;
             ul{
                li{
                    color:$light-purple;
                    font-size: 1.1em;
                    line-height: 1.7em
                }
            }
        }
        section.recommand{
            padding: 2.5em 2em;
            position: relative;
            a{
                position: absolute;
                color:$light-purple;
                right: 1em;
                top: 2em;
                font-size: 1.2em;
            }
            ul{
                li{
                    padding-top: 0.2em;
                    font-size: 1.1em;
                    line-height: 4em;
                    position: relative;
                    img{
                        @include radius-border(3em);
                        vertical-align: top;
                        margin-right: 1em;
                    }
                    div{
                        display:inline-block;
                        span{
                            display: block;
                            width: 9em;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            line-height: 1.3em;
                            &.position{
                                color:$position;
                            }
                        }
                        
                    }
                    i{
                        position: absolute;
                        top:0.5em;
                        right: 1em;
                        font-size: 1.5em
                    }
                }
            }
        }
        
    }
}